.form-section{
    margin-bottom: 5px;
}
.error-message{
    color: rgb(255, 0, 0);
}

.success-message{
    color: rgb(3, 98, 28);
}

.login-wrapper{
    width: 250px;
    margin: 200px auto;
}

.search-wrapper{
    width: 200px;
    margin: auto 5px auto auto;
}